.square {
    border: 1px solid blue;
    background-color: lightBlue;
    height:100px;
    width:100px;
    border-radius: 0;
    /* important to keep the button not moving */
    float: left;

  }
  
.square:hover {
    background-color: blue;
    color:white;
}

